<div class="header">
  <h1>Tyne - Issue tracking</h1>
  <h2>Simple, agile, webbased</h2>
</div>

<hr class="divider" />

<p class="description">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at dui arcu, vitae tincidunt neque. Sed ut nisi sed ligula fringilla gravida. Morbi laoreet sollicitudin pretium. In adipiscing enim porttitor nulla ullamcorper commodo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent dolor tortor, eleifend at consequat sed, ullamcorper et dui. Donec accumsan elit eget felis placerat eu tristique orci gravida. Nunc a orci id quam facilisis auctor a sed nulla. Phasellus faucibus, nibh id faucibus tincidunt, ante elit malesuada purus, ut dapibus erat urna et enim.
</p>

<div class="row reasons">
  <div class="span4">
    <h5>Reason 1</h5>
    <p>
        Suspendisse est lacus, iaculis sit amet fringilla sit amet, tincidunt in magna. Etiam dignissim nisi sit amet risus congue id egestas metus pretium. Cras a libero et dolor porta lacinia a et justo.
    </p>
  </div>
  <div class="span4">
    <h5>Reason 2</h5>
    <p>
        Suspendisse est lacus, iaculis sit amet fringilla sit amet, tincidunt in magna. Etiam dignissim nisi sit amet risus congue id egestas metus pretium. Cras a libero et dolor porta lacinia a et justo.
    </p>
  </div>
  <div class="span4">
    <h5>Reason 3</h5>
    <p>
        Suspendisse est lacus, iaculis sit amet fringilla sit amet, tincidunt in magna. Etiam dignissim nisi sit amet risus congue id egestas metus pretium. Cras a libero et dolor porta lacinia a et justo.
    </p>
  </div>
</div>

<hr class="divider" />

<div class="demo">
  <span>Ready to try it?</span>
  <%= link_to "Go to demo", "http://www.tyne-tickets.org", :class => "btn btn-primary btn-large" %>
</div>
