<div class="header">
  <h1>Tyne - Issue tracking</h1>
  <h2>Simple, agile, web-based</h2>
</div>

<hr class="divider" />

<div class="features">
  <div class="row">
  <div class="span4">
    <h4>Dashboard</h4>
    <p>Access to all the projects you contribute to from one page.</p>
  </div>

  <div class="span4">
    <h4>Github integration</h4>
    <p>Use your existing Github account to login. You don't need to signup for another product.</p>
  </div>

  <div class="span4">
    <h4>Activity stream</h4>
    <p>Keep up to date via the activity stream. and don't miss any event that might be important to you.</p>
  </div>
  </div>

  <div class="row">
  <div class="span4">
    <h4>Backlog</h4>
    <p>Record all your ideas, enhancements and defects at one single place - your Backlog.</p>
  </div>

  <div class="span4">
    <h4>Filtering, Sorting, Pagination</h4>
    <p>Filter and sort your product backlog by multiple criterias.</p>
  </div>

  <div class="span4">
    <h4>Comments</h4>
    <p>Start discussions or request more information through our commenting system.</p>
  </div>
  </div>

  <div class="row">
  <div class="span4">
    <h4>Voting</h4>
    <p>Identfiy what your user really want by using the voting system.</p>
  </div>

  <div class="span4">
    <h4>Agile Planning</h4>
    <p>Plan your sprints via Drag &amp; Drop and estimate your stories easily on the planning board.</p>
  </div>

  <div class="span4">
    <h4>Agile Board</h4>
    <p>View a visual represenation of your agile board.</p>
  </div>
  </div>

  <div class="row">
  <div class="span4">
    <h4>Burn Down Chart</h4>
    <p>See if you are "on track" via the Burn Down Chart.</p>
  </div>

  <div class="span4">
    <h4>Role management</h4>
    <p>Grant or deny user access to your project with an easy to use role management system.</p>
  </div>

  <div class="span4">
    <h4>Notifications</h4>
    <p>Always be up to date via E-Mail notifications.</p>
  </div>
  </div>

  <div class="row">
  <div class="span4">
    <h4>Private projects</h4>
    <p>Track your issue in a private workspace.</p>
  </div>
  <div class="span4">
    <h4>Free</h4>
    <p>It is FREE for public projects.</p>
  </div>
  <div class="span4">
    <h4>And...</h4>
    <p>Gravatar integration, Markdown support, Emoji support, etc.</p>
  </div>
  </div>
</div>

<hr class="divider" />

<div class="demo">
  <span>You like these features?</span>
  <%= link_to "Go to demo", "http://app.tyne-tickets.org", :class => "btn btn-primary btn-large" %>
</div>
